#job {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.button2 {padding: 14px 40px;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin:auto;
  display:block;
  font-size: 16px;
  cursor: pointer;
}
#job td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}
#job tr:nth-child(even){background-color: #f2f2f2;}

#job tr:hover {background-color: #ddd;}

#job th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orangered;
  color: white;
}